
/*声明 WebFont*/
/* @font-face {
  font-family: 'FZHLK--GBK1-0';
  src: url('./fzhl.eot');
  src:
    url('./fzhl.eot?#font-spider') format('embedded-opentype'),
    url('./fzhl.woff') format('woff'),
    url('./fzhl.ttf') format('truetype'),
    url('./fzhl.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} */